@{
    ViewData["Title"] = "Pungkook AGV Dashboard";
}

<div class="row">
    <!--Left Column-->
    <div class="col-sm-3 border-end border-bottom border-secondary border-2 px-3">
        <select class="form-select my-2" id="agvSelector">
            <option selected>Select AGV</option>
            <option value="001">001</option>
            <option value="002">002</option>
            <option value="003">003</option>
        </select>

        <p class="text-danger" id="agvConnectingIndicator">Not connected</p>

        <select class="form-select my-2" id="modeSelector">
            <option selected>Mode</option>
            <option value="idle">Idle</option>
            <option value="delivery">Delivery</option>
            <option value="direct">Direct</option>
            <option value="direct">Docking</option>
        </select>

        <p class="text-primary" id="agvMQTTLatency">MQTT Latency: </p>

        <p class="text-primary" id="agvSocketLatency">Socket Latency: </p>

        <!-- Left Tabs navs -->
        <ul class="nav nav-tabs nav-justified mb-3" id="left-nav" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active text-white"
                   id="controlTab"
                   data-mdb-toggle="tab"
                   href="#control-tab"
                   role="tab"
                   aria-controls="control-tab"
                   aria-selected="true">Control</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-white"
                   id="monitorTab"
                   data-mdb-toggle="tab"
                   href="#monitor-tab"
                   role="tab"
                   aria-controls="monitor-tab"
                   aria-selected="false">Monitor</a>
            </li>
        </ul>
        <!-- Left Tabs navs -->
        <!-- Left Tabs content -->
        <div class="tab-content" id="left-tab-content">
            <div class="tab-pane fade show active"
                 id="control-tab"
                 role="tabpanel"
                 aria-labelledby="controlTab">
                <!--Control tab content-->
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Camera View</h5>
                    <!-- Camera checked switch -->
                    <div class="form-check form-switch mb-3 d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox" role="switch" id="cameraSwitch" />
                        <label class="form-check-label" for="cameraSwitch" id="cameraIndicator">Off</label>
                    </div>
                    <div class="my-1" id="cameraView">
                        <img id="cameraStreamView" style="object-fit: contain; height: 100%; width: 100%; background-color: #353535" />
                    </div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Control</h5>
                    <div class="my-1" id="controlPanel">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info btn-square-sm" id="goForwardButton">W</button>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-info btn-square-sm" id="turnLeftButton">A</button>
                            <button type="button" class="btn btn-info btn-square-sm" id="turnRightButton">D</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info btn-square-sm" id="goBackwardButton">S</button>
                        </div>
                        <div class="d-flex flex-column justify-content-center my-3">
                            <label class="text-center" for="speedSlider" class="form-label" id="speedIndicator">Motor Speed: </label>
                            <input type="range" class="form-range" min="0" max="255" step="1" id="speedSlider">
                            <!-- Checked switch -->
                            <div class="form-check form-switch mb-3 d-flex justify-content-center">
                                <input class="form-check-input" type="checkbox" role="switch" id="steeringAssistSwitch" />
                                <label class="form-check-label" for="steeringAssistSwitch" id="steeringAssistIndicator">Steering Assist</label>
                            </div>
                            <button type="button" class="btn btn-danger btn-md mb-3">Emergency Stop</button>
                            <button type="button" class="btn btn-warning btn-md mb-3">Restart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade"
                 id="monitor-tab"
                 role="tabpanel"
                 aria-labelledby="monitorTab">
                <!--Monitor tab content-->
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Data</h5>
                    <div class="my-1" id="hardwareDataPanel">Hardware Data Panel</div>
                    <div class="my-1" id="mqttDataPanel">MQTT Data Panel</div>
                    <div class="my-1" id="socketDataPanel">Socket Data Panel</div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Laser Sensors</h5>
                    <div class="my-1" id="laserSensorPanel">Laser Sensors Panel</div>
                </div>
            </div>

        </div>
        <!-- Left Tabs content -->
    </div>
    <!--Left Column-->
    <!--Map Display-->
    <div class="col-sm-6 border-end border-bottom border-secondary border-2 p-0">
        <div class="container-fluid min-vh-100 d-flex flex-column align-content-between p-0" id="mapView">
            <div class="container-fluid vh-100 border-bottom border-secondary overflow-scroll p-0 d-none" id="gridMap">
            </div>
            <div class="container-fluid vh-100 border-bottom border-secondary overflow-scroll p-0 d-none" id="bleScannerView">
                <div class="row">
                    <div class="col-12">
                        <div class="container-fluid border border-warning overflow-scroll p-0" id="bleScannerAround">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="container-fluid border border-warning overflow-scroll p-0" id="bleScannerList">

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid vh-100 border-bottom border-secondary overflow-scroll p-0 d-none" id="laserScannerView">
            </div>
            <div class="container-fluid vh-100 border-bottom border-secondary overflow-scroll p-0 d-none" id="deliveryControlView">
            </div>
            <div class="container-fluid d-flex justify-content-between border-bottom border-secondary">
                <button type="button" class="btn btn-success my-2 mx-5"><</button>

                <select class="form-select my-2 mx-5" id="mapSelector">
                    <option selected value="1">Warehouse 1</option>
                    <option value="2">Warehouse 2</option>
                    <option value="3">Warehouse 3</option>
                </select>

                <button type="button" class="btn btn-success my-2 mx-5">></button>
            </div>
            <div class="container-fluid d-flex justify-content-between" id="navBar">
                <div class="container d-flex flex-column align-items-center m-2">
                    <button type="button" class="btn bg-transparent" id="bleScannerButton">
                        <img src="https://www.clker.com/cliparts/m/C/I/q/h/r/ble.svg.hi.png" width="75" height="75" class="m-2" />
                    </button>
                    <p class="text-center mx-2">BLE Scanner</p>
                </div>
                <div class="container d-flex flex-column align-items-center m-2">
                    <button type="button" class="btn bg-transparent">
                        <img src="https://cdn4.iconfinder.com/data/icons/driverless-autonomous/104/silicon_chip_lidar_automotive_sensors_solid_state_lidar_technology_internet_of_things-512.png" width="75" height="75" class="m-2" />
                    </button>
                    <p class="text-center mx-2">Laser Sensors</p>
                </div>
                <div class="container d-flex flex-column align-items-center m-2">
                    <button type="button" class="btn bg-transparent" id="mapViewButton">
                        <img src="https://www.svgrepo.com/show/491659/map-pin.svg" width="75" height="75" class="m-2" />
                    </button>
                    <p class="text-center mx-2">Map View</p>
                </div>
                <div class="container d-flex flex-column align-items-center m-2">
                    <button type="button" class="btn bg-transparent" id="deliveryControlButton">
                        <img src="https://www.svgrepo.com/show/488308/package.svg" width="75" height="75" class="m-2" />
                    </button>
                    <p class="text-center mx-2">Delivery Control</p>
                </div>

            </div>
        </div>
    </div>
    <!--Map Display-->
    <!--Right Column-->
    <div class="col-sm-3 border-bottom border-secondary border-2 px-3">
        <h5 class="text-center my-2">System</h5>

        <!-- Right Tabs navs -->
        <ul class="nav nav-tabs nav-justified mb-3" id="right-nav" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active text-white"
                   id="systemControlTab"
                   data-mdb-toggle="tab"
                   href="#system-control-tab"
                   role="tab"
                   aria-controls="system-control-tab"
                   aria-selected="true">Control</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link text-white"
                   id="systemMonitorTab"
                   data-mdb-toggle="tab"
                   href="#system-monitor-tab"
                   role="tab"
                   aria-controls="system-monitor-tab"
                   aria-selected="false">Monitor</a>
            </li>

        </ul>
        <!-- Right Tabs navs -->
        <!-- Right Tabs content -->
        <div class="tab-content" id="right-tab-content">
            <div class="tab-pane fade show active"
                 id="system-control-tab"
                 role="tabpanel"
                 aria-labelledby="systemControlTab">
                <!--System Control tab content-->
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">AGVs</h5>
                    <div class="my-1" id="agvPanel">
                        <p class="text-secondary" id="totalAgvCount">Total: </p>
                        <p class="text-secondary" id="connectedAgvCount">Connected:</p>
                        <p class=""></p>
                    </div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Create Map</h5>
                    <div class="my-1" id="createMapPanel">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Length" aria-label="Map length" aria-describedby="length-metric">
                            <span class="input-group-text" id="length-metric">cm</span>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Width" aria-label="Map width" aria-describedby="width-metric">
                            <span class="input-group-text" id="width-metric">cm</span>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Resolution" aria-label="Map resolution" aria-describedby="resolution-metric">
                            <span class="input-group-text" id="resolution-metric">cm</span>
                        </div>
                        <center><button class="btn btn-outline-secondary" type="button" id="createMapButton">Create map</button></center>
                    </div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Edit Map</h5>
                    <div class="my-1" id="selectMapPanel">
                        <p class="mt-3" id="cellCoordIndicator">Cell coordinate:</p>
                        <p class="mt-3">Map Layer</p>
                        <select class="form-select" aria-label="Default select example" id="mapLayerSelector">
                            <option value="baseLayer">Base Layer</option>
                            <option value="beaconLayer">Beacon Layer</option>
                            <option value="packageLayer">Package Layer</option>
                        </select>
                        <p class="mt-3">Cell type</p>
                        <select class="form-select" aria-label="Default select example" id="cellTypeSelector">
                            <option value="0">Blank</option>
                            <option value="*">Beacon</option>
                            <option value="1">Obstacle</option>
                            <option value="#">AGV</option>
                        </select>
                        <p class="mt-3">Cell value:</p>
                        <input type="text" class="form-control" placeholder="Edit Cell Value" aria-label="Edit Cell Value" aria-describedby="editCellValue" id="editCellValue">
                        <p class="mt-3">Map length:</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Edit Map Length" aria-label="Edit Map Length" aria-describedby="editLength-metric" id="editMapLength">
                            <span class="input-group-text" id="editLength-metric">cm</span>
                        </div>
                        <p class="mt-3">Map width:</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Edit Map Width" aria-label="Edit Map Width" aria-describedby="editWidth-metric" id="editMapWidth">
                            <span class="input-group-text" id="editWidth-metric">cm</span>
                        </div>
                        <center><button class="btn btn-outline-secondary mt-3" type="button" id="saveMapButton">Save map</button></center>
                    </div>
                </div>
                <!--System Control tab content-->
            </div>
            <div class="tab-pane fade"
                 id="system-monitor-tab"
                 role="tabpanel"
                 aria-labelledby="systemMonitorTab">
                <!--System Monitor tab content-->
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">MQTT Broker</h5>
                    <div class="my-1" id="mqttPanel">MQTT Panel</div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Socket Server</h5>
                    <div class="my-1" id="socketPanel">Socket Panel</div>
                </div>
                <div class="container d-flex flex-column border border-secondary border-3 my-3 rounded">
                    <h5 class="text-center my-1">Charging Stations</h5>
                    <div class="my-1" id="chargingStationPanel">Charging Station Panel</div>
                </div>
                <!--System Monitor tab content-->
            </div>
        </div>
        <!-- Right Tabs content -->
    </div>
    <!--Right Column-->
</div>
